div * {
    margin: 1px;
}

body {
    background: url("images/cde_solaris_wallpaper.png");
}

div {
    font-family: sans-serif;
    width: 75%;
    background-color: #aeb2c3;
    border: 25px solid transparent;
    border-image: url("images/cde_border.png") 25 / 25px 25px 25px 25px / 0px 0px 0px 0px;
    margin: auto;
    margin-bottom: 4px;
    padding-top: 18px;
}